<div class="card  text--center {{class}}">
    {{#if link}}<a href="/{{link}}">{{/if}} 
        <div class="card__image"><i class="fas fa-certificate"></i></div>
        <div class="card__headline text--bold">{{{title}}}</div>
        <div class="card__body">
            <p class="text--small">{{{text}}}</p>                            
        </div>
    {{#if link}}</a>{{/if}}
</div>