<footer class="footer">
  <div class="container">

    <div class="grid  grid--1-md4">
      <div class="cnt  grid__item  grid__item--md2">
        <h2 class="cnt__header  text--small">Support</h2>
        <div class="cnt__content">
            <p>You want to support me with my Photography and Open Source Modules?<br>Great, I really appreciate every Support. Here are some ways:</p>      
            <ul class="list">        
              <li class="list__item">Retweet and share my Posts with others</li>
              <li class="list__item">Comment on Pictures or Posts</li>
              <li class="list__item">Give me Feedback</li>
              <li class="list__item">Recommend to me your Friends</li>
            </ul>
            <script type="text/javascript">kofiwidget2.init('Buy Me a Coffee', '#00b38d', 'G2G7AM9R');kofiwidget2.draw();</script><style>img.kofiimg{display: initial!important;vertical-align:middle;height:13px!important;width:20px!important;padding-top:0;padding-bottom:0;border:none;margin-top:0;margin-right:5px;margin-left:0;margin-bottom:4px;content:url('https://ko-fi.com/img/cuplogo.svg')}.kofiimg:after{vertical-align:middle;height:25px;padding-top:0;padding-bottom:0;border:none;margin-top:0;margin-right:6px;margin-left:0;margin-bottom:4px;content:url('https://ko-fi.com/img/whitelogo.svg')}.btn-container{display:inline-block!important;white-space:nowrap;min-width:160px}span.kofitext{color:#fff !important;letter-spacing: -0.15px!important;text-wrap:none;vertical-align:middle;line-height:33px !important;padding:0;text-align:center;text-decoration:none!important; text-shadow: 0 1px 1px rgba(34, 34, 34, 0.3);}.kofitext a{color:#fff !important;text-decoration:none:important;}.kofitext a:hover{color:#fff !important;text-decoration:none}a.kofi-button{box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);line-height:32px!important;min-width:150px;display:inline-block!important;background-color:#46b798;padding:2px 11px !important;text-align:center !important;border-radius:3px;color:#fff;cursor:pointer;overflow-wrap:break-word;vertical-align:middle;border:0 none #fff !important;font-family:'Lato',Helvetica,Century Gothic,sans-serif !important;text-decoration:none;text-shadow:none;font-weight:400!important;font-size:14px !important}a.kofi-button:visited{color:#fff !important;text-decoration:none !important}a.kofi-button:hover{opacity:.85;color:#f5f5f5 !important;text-decoration:none !important}a.kofi-button:active{color:#f5f5f5 !important;text-decoration:none !important}.kofitext img.kofiimg {height:13px!important;width:20px!important;display: initial;-webkit-filter: drop-shadow(0 1px 1px rgba(34, 34, 34, 0.3));}</style><link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"><div class="btn-container"><a title="Support me on ko-fi.com" class="kofi-button" style="background-color:#00b38d;" href="http://ko-fi.com/G2G7AM9R" target="_blank"> <span class="kofitext"><img src="https://ko-fi.com/img/cuplogo.svg" class="kofiimg">Buy Me a Coffee</span></a></div>
        </div>
      </div>

      <div class="cnt">
        <h2 class="cnt__header  text--small">Profiles around the web</h2>
        <div class="cnt__content">
          <ul class="list  list--unstyled">
            <li class="list__item"><a class="link" href="https://twitter.com/ToH_82" title="open twitter profile"><i class="fa fa-twitter" aria-hidden="true"></i> ToH_82</a></li>
            <li class="list__item"><a class="link" href="https://github.com/toh82" title="open github profile"><i class="fa fa-github" aria-hidden="true"></i> toh82</a></li>
            <li class="list__item"><a class="link" href="https://pinterest.com/th1982" title="open pinterest profile"><i class="fa fa-pinterest" aria-hidden="true"></i> th1982</a></li>
            <li class="list__item"><a class="link" href="https://medium.com/@ToH_82" title="open medium profile"><i class="fa fa-medium" aria-hidden="true"></i> ToH_82</a></li>
            <li class="list__item"><a class="link" href="https://instagram.com/toh_82" title="open instagram profile"><i class="fa fa-instagram" aria-hidden="true"></i> toh_82</a></li>
            <li class="list__item"><a class="link" href="https://stackoverflow.com/users/3301573/tobias-hartmann" title="open stackoverflow profile"><i class="fa fa-stack-overflow" aria-hidden="true"></i> tobias-hartmann</a></li>
            <li class="list__item"><a class="link" href="https://www.eyeem.com/u/toh82" title="open EyeEm profile">EyeEm: toh82</a></li>
          </ul>
        </div>
      </div>
      <div class="cnt">
        <h2 class="cnt__header  text--small">Build with hbs-blog</h2>
        <div class="cnt__content">
            <p><a class="link" target="_blank" rel="noopener" href="https://www.npmjs.com/package/hbs-blog">hbs-blog</a> is a open source module which uses handlebarsjs, front-matters and gulp to create a static blog. If you want to contribute, check out the <a class="link" target="_blank" rel="noopener" href="https://github.com/toh82/hbs-blog">github page of hbs-blog</a>.</p>
        </div>
      </div>
    </div>

    <div class="cnt">
      <div class="cnt__content"><a class="link" href="impressum-datenschutz.html">Imprint / Data Privacy (Legal notice)</a></div>
    </div>
  </div>
</footer>

<script src="{{site.url.static}}assets/lib/zepto.min.js"></script>
<script src="{{site.url.static}}assets/js/script.js"></script>
