<div class="background  background--office">
    <div class="container  grid  grid--1-md4">
        <div class="cnt  cnt--pictext  grid__item  grid__item--md2-pos3">
            <div class="headline  headline--akzent">
                <div class="headline__sub">Kommunikation</div>     
                <h2 class="headline__main">Gute Kommunikation führt zum Erfolg</h2>
            </div>            
            <p>Eine umfassende Kommunikation ist unerlässlich, um gemeinsam erfolgreich zu sein. Dabei ist es wichtig, sich auf Augenhöhe gegenüber zu stehen.</p>
        </div>
    </div>  
</div>