body {
  margin: 0;
  color: var(--color__primary);
  background-color: var(--color__base);
  font-family: 'Noto Sans', sans-serif;
  font-weight: var(--font__weight--regular);
  font-size: calc(0.6rem + 1vw);
  line-height: 1.4;
}

@media (min-width: $break-medium) {
  body {
      font-size: 0.85rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;  
}

b,
strong,
h1,
h2,
h3 {
  font-weight: var(--font__weight--bold);
  line-height: 1.2;
}

h1 {
  font-size: calc(1.8rem + 1vw);

  @media (min-width: $break-medium) {
      font-size: 2.75rem;
  }
}

h2 {
  font-size: calc(1rem + 1vw);

  @media (min-width: $break-medium) {
      font-size: 1.5rem;
  }

  + p {
    margin-top: 1rem;
  }
}

h3 {
  font-size: calc(0.75rem + 1vw);

  @media (min-width: $break-medium) {
      font-size: 1.2rem;
  }

  + p {
    margin-top: 1rem;
  }
}

h2 a,
h3 a {
  border-bottom: none;
}

small,
.text--small {
  font-size: 0.6rem;

  @media (min-width: $break-small) {
      font-size: calc(0.25rem + 1vw);
  }

  @media (min-width: $break-medium) {
      font-size: 0.75rem;
  }
}

a {
  color: var(--color__brand);
  border-bottom: 1px solid var(--color__brand);
  text-decoration: none;

  &:hover {
       background-color: var(--color__brand);
       color: var(--color__base);
   }

  &:visited {
       color: var(--color__brand--dark);
       border-bottom-color: var(--color__brand--dark);

      &:hover {
           color: var(--color__base);
           border-bottom-color: var(--color__brand);
      }
  }
}

p + p, 
main * + * {
    margin-top: 1rem;
}

img {
    max-width: 100%;
    width: 100%;
}