.container {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  padding: 0 1.5rem;
  
  @media (min-width: $break-medium) {
    padding: 0 2.5rem;
  }

  @media (min-width: $break-big) {
    padding: 0 5rem;
  }
}

.container + * {
  margin-top: 2rem;
}

.background {
  &--handshake {
    margin-top: 0;
    padding: 5rem 0;
    /** Photo by rawpixel on Unsplash **/
    background-image: url('../media/rawpixel-558596-unsplash.jpg');
    background-position: center; 
    background-size: cover;
  }
  &--city {
    margin-top: 0;
    padding: 5rem 0;
    background-image: url('../media/header.jpg');
    background-position: center; 
    background-size: cover;
    margin-bottom: 4rem;
  }
  &--dark {
    background: var(--color__primary);
  }    
}

.background--handshake {
  @media (min-width: $break-medium) {
    padding: 5rem;
  }
}

.background + * {
  margin-top: 0;
}

.cnt {
  &--one {
    display: grid;  
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 2rem;

    @media (min-width: $break-medium) {
      grid-column-gap: 4rem;
      grid-template-columns: 20rem auto;
    }

    @media (min-width: $break-big) {
      grid-column-gap: 4rem;
      grid-template-columns: 8rem 20rem auto;
    }    
  }

  &--boxes {
    background: #e3e3e3;
    box-shadow: 0 0 3rem rgba(0,0,0,0.4); 
    margin: 0;

    @media (min-width: $break-big) {
      margin: 0 10%;
    }
  }

  &--area-cards {
    .card__image {
      color: var(--color__brand);
    }
    .card__headline {
      font-size: 1rem;
    }
  }

  &__header {
    margin-bottom: 2rem;
  }
  
  &__content {
    margin-bottom: 2rem;
  }
}

.grid.cnt--boxes {
  grid-column-gap: 1px;
  grid-row-gap: 1px; 
}

.grid {
  display: grid;
  grid-column-gap: 0;

  > * + * {
    margin-top: 0;
  }
}

.grid--1-md2 {
  grid-template-columns: 1fr;
  @media (min-width: $break-medium) { 
    grid-template-columns: 1fr 1fr;
  }
}

.grid--2-md3 {
  grid-template-columns: 1fr 1fr;
  @media (min-width: $break-medium) { 
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid--1-md3 {
  grid-template-columns: 1fr;
  @media (min-width: $break-medium) { 
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid--footer {
  grid-template-columns: 1fr;
  @media (min-width: $break-medium) { 
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1.4fr 0.8fr;
  }
}

.grid--2-md4 {
  grid-template-columns: 1fr 1fr;
  @media (min-width: $break-medium) { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid--1-md4 {
  grid-template-columns: 1fr;
  @media (min-width: $break-medium) { 
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid__item {
  &--md2 {
    @media (min-width: $break-medium) { 
      grid-column: auto / span 2
    }
  }
}