.link {
  display: inline-block;
  font-style: italic;
  padding: 0.25rem 1rem 0.25rem 0;    
}

.link--underline {
  border-bottom: none;

  &:hover::before {
    color: transparent;
  }
}

.link--underline::before {
  content: "__";
}

.location-link,
.social-link {
  padding: .25rem .5rem;
  text-decoration: none;
  border: none;  
  color: var(--color__base);
  background: var(--color__primary);

  .fas,.fab {
    color: var(--color__base);
  }
  
  &:hover {
    color: var(--color__primary);
    background: var(--color__base);

    .fas,.fab {
      color: var(--color__primary);
    }
  }
}