.text {
  &--small {
    font-size: 0.8em;
  }
  &--xsmall {
    font-size: 0.6em;
  }  
  &--serif {
    font-family: 'Playfair Display', serif;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
  &--bold {
    font-weight: var(--font__weight--bold);
  }
  &--color-akzent {
    color: var(--color__brand);
  }
}

.visually-hidden {
  display: none;

  &--md {
    @media (min-width: $break-medium) {
      display: none;
    }
  }
}

.headline {
  display: inline-block;
  margin: 1rem 0 2rem 0;

  &__sub {
    font-size: 0.9rem;
  }

  &--popout {
    padding: 0 0 1.5rem;
    text-shadow: 0 0 1.5rem rgba(0,0,0,1); 
    color: #ffffff;

    .headline__main {
      font-size: 1.5rem;    
      padding: 0 0 1.5rem 0;
      font-family: 'Playfair Display', serif;

      @media (min-width: $break-medium) {
        font-size: 2.2rem;    
      }
    }

    &:after {
      content: '';
      border-bottom: 2px solid var(--color__brand);  
      display: inline-block;
      width: 50%;    
    }
  }

  &--akzent {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem; 
    border-bottom: 2px solid var(--color__brand);

    .headline__sub {
      padding-bottom: 1rem;
    }

    .headline__main {
      font-family: 'Playfair Display', serif;
      font-size: calc(1.2rem + 1vw);

      @media (min-width: $break-medium) {
          font-size: 2.2rem;
      }      
    }

    .headline__sub {
      color: var(--color__brand);      
      font-weight: var(--font__weight--bold);
    }
  }
}