.text {
  &--small {
    font-size: 1em;
  }
  &--serif {
    font-family: 'Playfair Display SC', serif;
    text-transform: uppercase;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
}

.visually-hidden {
  display: none;
}

.headline {
  display: inline-block;
  margin: 1rem 0 2rem 0;

  &__sub {
    font-size: 0.9rem;
  }

  &--akzent {
    padding-bottom: 2rem; 
    border-bottom: 2px solid var(--color__brand);

    .headline__sub {
      padding-bottom: 1rem;
    }

    .headline__main {
      font-family: 'Playfair Display SC', serif;
      text-transform: uppercase;
      font-size: calc(1rem + 1vw);

      @media (min-width: $break-medium) {
          font-size: 2rem;
      }      
    }

    .headline__sub {
      color: var(--color__brand);      
      font-weight: var(--font__weight--bold);
    }
  }
}