@import "normalize-css/normalize.css";

@import "variables";

@import "navigation";
@import "footer";

@import "base";
@import "list";
@import "card";
@import "tags";
@import "button";
@import "figure";
@import "layout";
@import "link";
@import "text";


.text-teaser {
  padding: 4rem 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: var(--font__weight--bold);

  .number {
    padding-top: 1rem; 
    display: block;
    font-size: 1.5rem;
    font-family: 'Noto Sans', sans-serif;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    border: none;
  }
}