
@import "variables";
@import "navigation";
@import "topbar";
@import "header";
@import "base";
@import "list";
@import "layout";
@import "link";
@import "text";

* {
  box-sizing: border-box;
}

.portrait {
  box-shadow: -1rem 1rem 0rem 0.1rem rgb(226, 226, 226);
}

.badge {
  padding: 2rem 0;
  background: var(--color__primary);
  color: var(--color__base);
  align-self: flex-start;
  display: none;

  @media (min-width: $break-big) {
    display: inline-block;
  }

  .fas {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.text-teaser {
  padding: 4rem 0;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: var(--font__weight--bold);

  @media (min-width: $break-medium) {
    font-size: 2rem;
  }

  .number { 
    display: block;
    margin-top: 2rem;
    font-family: 'Noto Sans', sans-serif;    

    @media (min-width: $break-medium) {
      font-size: 2rem;
    }    
  }

  a {
    color: #ffffff;
    text-decoration: none;
    border: none;

    &:hover {
      background: transparent;
    }
  }
}

